*, *::before, *::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

/* html, body, #root {
 height: 100%;
 width: 100%;
 overflow: hidden;
} */

html, body, #root {
 min-height: 100%;
 width: 100%;
 overflow-x: hidden;
}

body {
 font-family: var(--font);
 background: var(--bg-main);
 color: var(--text-primary);
 -webkit-font-smoothing: antialiased;
}



/* 
clean code
auth remove try and chatch
check 
and optimize
less api call
*/

/* 
here test trry catch all auth and chat auth 
*/

/*
 stop generted --
 fix none in form --
 fix css file 
 check all api and error handle
 test
 logo add
 optimaztion
 less api call
 backend more user optmiaztaion
 AI tools add
 clean up
 */


 /* 
 check secuiry in tech final submit input
 code can see in insept can /login all path logic can also see so fix secuirty
 
 */

 /* 
 without login and techskills
 with techskills 
 check with now backend with
 Maximum update depth exceeded. This can happen when a component calls setState inside useEffect, but useEffect either doesn't have a dependency array, or one of the dependencies changes on every render.
 
 */

 /* 
 less api call
 scurity check 
 optimization

 */

 /* 
 ---need----
limit of api call
check save tech was in string or not 
should all error msg in middleware internal server error
 save max check msg 
 backen upgrade
 */